<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="favicon.png" />

    <title>Portail</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><%= event %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% titles.forEach(function(title) { %>
                      <li>
                          <a class="page-scroll" href="<%= title.href %>"><%= title.name %></a>
                      </li>
                  <% }); %>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading"><%- title %></h1>
                <hr>
                <p><%- message   %></p>
                <div id="questions"></div>
                <a onClick="save()" class="btn btn-primary btn-xl page-scroll">Sauvegarder</a>

            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

    <script>


    window.onload = function () {
        loadData();
      };

    function loadData(){

      $.get( "/admin/questions.json", function( data ) {
        createTable(data);
      });

    }


    function createTable(data){
      html ='<ul style="color: black;" class="list-group">';
      i=0;
      data.forEach(function(element) {
        i++;
        html += '<li class="list-group-item">'+i+' '+element.value+'<button onClick="deleteQuestion('+i+')">Delete </button></li>'
      });
      html += '<li class="list-group-item"><input id="id" value="'+(i+1)+'"/><input id="value"><input id="subvalue" /><button onClick="addQuestion()">Add </button></li>'

      html +='</ul>';
      $('#questions').html(html);
    }

/**/
    function deleteQuestion (i){
      if(confirm('are you sure ?')){
        $.post( "/admin/delete/question/"+i, function (data) {
          createTable(data);
        });
      }
    }
    /**/
    function addQuestion(){
      $.post( "/admin/add/question/",{ id: $('#id').val(), value: $('#value').val(), subvalue: $('#subvalue').val() }).done( function( data ) {
        createTable(data);
      });
    }
/**/
    </script>
</body>

</html>
